<h1>Login Page</h1>

<%= form_for(:session, url: login_path) do |f| %>
<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit "Log In" %>
<% end %>

<h4> <%= link_to "Create Account", new_user_path  %> </h4>
