<table>
  <thead>
      <th></th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Action</th>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th scope = "row"><img class="img-responsive item-images img-thumbnail" src="<%= item.image_path %>" alt="item image"></th>
      <td><%= item.title %></td>
      <td><%= item.description %></td>
      <td><%= item.status %></td>
      <td><%= link_to "Edit", edit_admin_item_path(item) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
