<div class="container-fluid text-center">

<h3>Order-<%= @order.id %> </h3><br>

<div class="row">
  <div class="col-md-12">

    <table class="table">

      <thead>
        <th>Item</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </thead>

      <tbody>
        <% @order.item_orders.each do |item_order| %>
        <tr>
          <th scope="row"><%= link_to item_order.item.title, item_path(item_order.item) %></th>
            <td><%= item_order.quantity %></td>
            <td><%= number_to_currency(item_order.subtotal, :unit => "$") %></td>
        </tr>
      </tbody>
<% end %><br>

<p>Status: <%= @order.status %></p>
<p>Total Price: <%= number_to_currency(@order.total_price, :unit => "$") %></p>
<p>Order Submission Date/Time: <%= @order.created_at.to_formatted_s(:long) %></p>
<% if @order.status == ("completed" || "cancelled") %>
  <p><%= "#{@order.status.capitalize} Date/Time: #{@order.updated_at.to_formatted_s(:long) }" %></p>
<% end %>

</div>
</div>

    </table>
  </div>
</div>
