<div class="container-fluid text-center">

<h3>Order-<%= @order.id %> </h3><br>

<% @order.item_orders.each do |item_order| %>
  <span class = "item-details"><%= link_to item_order.item.title, item_path(item_order.item) %></span>
  <span class = "item-details">Quantity: <%= item_order.quantity %></span>
  <span class = "item-details">Subtotal: <%= number_to_currency(item_order.subtotal, :unit => "$") %></span><br>
<% end %><br>

<p>Status: <%= @order.status %></p>
<p>Total Price: <%= number_to_currency(@order.total_price, :unit => "$") %></p>
<p>Order Submission Date/Time: <%= @order.created_at.to_formatted_s(:long) %></p>
<% if @order.status == ("completed" || "cancelled") %>
  <p><%= "#{@order.status.capitalize} Date/Time: #{@order.updated_at.to_formatted_s(:long) }" %></p>
<% end %>

</div>
</div>

<div class="row">
  <div class="col-md-12">

    <table class="table">

      <thead>
        <!-- First column name can be empty if row name is explanatory -->
        <th></th>
        <th>Column name</th>
        <th>2nd Column Name</th>
      </thead>

      <tbody>
        <tr>
          <th scope="row">Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
        <tr>
          <th scope="row">Second Row Name</th>
            <td>2nd Row 1st Column Content</td>
            <td>2nd Row 2nd Column Content</td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
