<div class="container-fluid text-center">

<h3>Order-<%= @order.id %> </h3><br>

<% @order.item_orders.each do |item_order| %>
  <span class = "item-details"><%= link_to item_order.item.title, item_path(item_order.item) %></span>
  <span class = "item-details">Quantity: <%= item_order.quantity %></span>
  <span class = "item-details">Subtotal: <%= number_to_currency(item_order.subtotal, :unit => "$") %></span><br>
<% end %><br>

<p>Status: <%= @order.status %></p>
<p>Total Price: <%= number_to_currency(@order.total_price, :unit => "$") %></p>
<p>Order Submission Date/Time: <%= @order.created_at.to_formatted_s(:long) %></p>
<% if @order.status == ("completed" || "cancelled") %>
  <p><%= "#{@order.status.capitalize} Date/Time: #{@order.updated_at.to_formatted_s(:long) }" %></p>
<% end %>

</div>
</div>
