<div class="container text-center">
  <br/></br/><h4 class="page-titles">Cart Total: <br/></h4>
  <h2 class="page-titles"><%= number_to_currency(@cart.total_price, :unit => "$") %></h2><br/><br/>

  <div class="row">

  <% @items.each do |item| %>
  <div class="col-md-3 col-sm-6 col-lg-3 item-<%= item.id %>">
    <img class="img-responsive item-images img-thumbnail" src="<%= item.image_path %>" alt="item image"><br/>
     <%= item.title %><br/>
     <%= item.description %><br/>
     <%= number_to_currency(item.price, :unit => "$") %><br/>
     <%= form_tag("/cart") do %>
       <%= label_tag(:quantity) %>
       <%= text_field_tag(:quantity, "#{@cart.contents[item.id.to_s]}", :size=>"2") %>
       <%= submit_tag("Update", :class => "btn btn-primary", method: :puts) %>
     <% end %><br/><br/>
     Item Total: <%= number_to_currency((item.price * @cart.contents[item.id.to_s]), :unit => "$") %><br/><br/>
     <%= button_to "Delete", cart_path(item_id: item.id), method: :delete, class: "btn btn-danger"  %><br/><br/><br/>
  </div>
  <% end %>

  </div>
</div>
