<!DOCTYPE html>
<html>
  <head>
    <title>LittleShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render partial: "layouts/template" %>

  <body>
    <%= yield %>
  </body>

  <footer>
      <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center page-titles">
                  <p>Copyright &copy; Tom Bombadil 2014</p>
              </div>
          </div>
      </div>
  </footer>
</html>
